<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/historics.css">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/backOffice.css">

<body>
   <%- include('../../components/header.ejs') %> <% if (successCreateStreamer) { %>
      <div role="alert"><%= successCreateStreamer %></div>
      <% } %> 
      
   <main class="updateUser">

      <section class="historics-container">

         <h1>Ajouter un streamer</h1>
     
         <form action="/streamers/create/add" method="POST">

            <div>
                <input type="text" id="name" name="name" required>
                <label for="name">
                    Nom streamer
                </label>
            </div>

            <div>
                <input type="url" id="twitch" name="twitch" minlength="1" required>
                <label for="twitch">
                    Chaîne twitch
                </label>
            </div>

            <button class="streamer-form-button">
                Ajouter
            </button>

            <div>
                <a href="/streamers">Revenir à la liste des streamers</a>
            </div>
        </form>
               
      </section>
   </main>

   <footer>
    <%- include('../../components/footer.ejs') %>
   </footer>
    <script src="/scripts/burger.js"></script>
    <script
      src="https://kit.fontawesome.com/a00d3e0d3e.js"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/header.js"></script>
</body>
</html>