<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/backOffice.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../../components/header.ejs') %> <% if (detailsStreamer) { %>
    <h2>Détails de <%= detailsStreamer.name %></h2>
    <ul>
      <li>Nom : <%= detailsStreamer.name %></li>
      <li>Twitch : <%= detailsStreamer.twitch %></li>
    </ul>
    <% } %>
    <script src="/scripts/burger.js"></script>
  </body>
</html>