<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=/styles/backOffice.css />
    <title>Document</title>
  </head>
  <body>
    <%- include('../../components/header.ejs') %>
    <section class="dashboard">
      <h2>
        Suppression de <%= detailsJv.titre %> 
      </h2>
      <form
        action="/jv/<%= detailsJv._id %>/delete?_method=DELETE"
        method="POST"
      >
        <a href="/jv">Annuler</a>
        <button>Confirmer</button>
      </form>
    </section>
    <%- include('../../components/footer.ejs') %>
    <script src="/scripts/burger.js"></script>
  </body>
</html>
