<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=/styles/backOffice.css />
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
  </head>
  <body>
    <%- include('../../components/header.ejs') %>
    <main class="deleteUser">
      <section class="deleteContainer">
        <h2>
          Suppression de <%= detailsJv.titre %>
        </h2>
        <form
          action="/jv/<%= detailsJv._id %>/delete?_method=DELETE"
          method="POST" 
        >
          <a href="/jv">Annuler</a>
          <button>Confirmer</button>
        </form>
      </section>
  </main>
    <%- include('../../components/footer.ejs') %>
    <script src="scripts/header.js"></script>
    <script src="/scripts/burger.js"></script>
    <script
      src="https://kit.fontawesome.com/a00d3e0d3e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
