footer {
    background-color: black;
    position: absolute;
    bottom: 1px;
    text-align: left;
}

p {
    color: white;
}

.endpage {
    text-align: center;
}

strong {
    color: rgba(112,208,56,1);
}

a {
    color: rgba(112,208,56,1);
}

.faq {
    background-color: rgba(112,208,56,1);
}