* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: rgba(32, 32, 32, 1);
  font-family: Quicksand, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: cursive, Caveat;
  margin-block: 16px;
  padding: 10px;
}

h3 {
  color: rgba(112, 208, 56, 1);
  font-size: 1.5rem;
}

p {
  padding: 10px;
  margin: 16px 10px;
}

a {
  color: rgba(112, 208, 56, 1);
  font-weight: 700;
}

a:visited {
  color: rgba(112, 208, 56, 1);
}

.onglet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.onglet li {
  border: 1px solid white;
  list-style-type: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
}

.onglet li:hover {
  background: rgba(112, 208, 56, 1);
}
.onglet li:active {
  background: rgba(112, 208, 56, 1);
}

.chiffres {
  border: 1px grey solid;
  margin: 10px auto 0;
  border-radius: 5px;
  max-width: 90%;
}

.chiffres h4 {
  font-size: 1.8rem;
  text-align: justify;
  padding-left: 10px;
  padding-top: 10px;
}
.chiffres p {
  text-align: justify;
  margin: 10px 0;
  padding-left: 10px;
}

.dons li {
  margin: 0px 10px;
  padding-left: 10px;
  list-style-type: none;
}
