/* index(accueil back) */
.indexBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.connect input {
  width: 250px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--tertiaire-color);
}
.connect label {
  display: block;
  color: var(--secondary-color);
}

.connect button {
  width: 260px;
  background: var(--secondary-color);
  color: var(--tertiaire-color);
  padding: 10px;
  border-radius: 10px;
}
.connect button:hover {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  box-shadow: var(--secondary-color) 2px 2px 15px 2px inset;
}

/* Admin */
.dashboard section h1 {
  margin-top: 50px;
  text-align: center;
  color: var(--tertiaire-color);
  font-family: var(--title-font);
  font-size: 3rem;
}

.dashboard section div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 35px;
}
.dashboard section div h3 {
  text-align: center;
  color: var(--tertiaire-color);
  font-family: var(--title-font);
  font-size: 1.8rem;
}
.dashboard section div a {
  color: var(--tertiaire-color);
  text-decoration: none;
  color: var(--secondary-color);
}

/* ListUser */

.listUser {
  display: flex;
  flex-direction: column;
}
.listUser h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--tertiaire-color);
  font-family: var(--title-font);
}
.listUser a {
  color: var(--tertiaire-color);
  text-decoration: none;
}

.listUser {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  overflow-x: auto; /* Activer le défilement horizontal sur les petits écrans */
}

.listMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-block: 25px;
}

.listMenu a:nth-child(1) {
  background-color: var(--tertiaire-color);
  color: var(--secondary-color);
  padding: 15px;
  width: 190px;
  text-align: center;
  font-weight: 700;
  text-shadow: 0px 0px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
}
.listMenu a {
  background-color: var(--secondary-color);
  color: var(--tertiaire-color);
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  width: 190px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.466) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.486) 0px -2px 6px 0px inset;
}

.listUser h2 {
  font-family: var(--title-font);
}
.listUser table {
  width: 50%;
  margin: 0 auto;
}
.bgGreen {
  background: var(--secondary-color);
  padding: 4px;
  border-radius: 60%;
}
.bgRed {
  background: red;
  padding: 4px;
  border-radius: 60%;
}

td {
  padding: 10px 10px;
}

::-webkit-scrollbar-thumb {
  background-color: grey; /* Couleur de la poignée de défilement */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Couleur de la piste de défilement */
}

body {
  scrollbar-face-color: #000000; /* Couleur de la barre de défilement */
  scrollbar-arrow-color: #000000; /* Couleur de la flèche de la barre de défilement */
  scrollbar-track-color: #000000; /* Couleur de la piste de la barre de défilement */
}

/* update user */

.updateUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.updateUser h2 {
  font-family: var(--title-font);
  text-align: center;
  margin-block: 25px;
  width: 90%;
}

.updateUser P {
  text-align: center;
  font-family: var(--main-font);
  color: var(--secondary-color);
  margin-bottom: 25px;
  width: 90%;
}

.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.connect input {
  width: 250px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--tertiaire-color);
  color: var(--tertiaire-color);
}
.connect label {
  display: block;
  color: var(--secondary-color);
}

.connect button {
  width: 260px;
  background: var(--secondary-color);
  color: var(--tertiaire-color);
  padding: 10px;
  border-radius: 10px;
}
.connect a {
  width: 260px;
  background: var(--tertiaire-color);
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--tertiaire-color);
  text-decoration: none;
  box-shadow: black 1px 1px 15px 1px inset;
  text-align: center;
}

.connect a:hover {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  box-shadow: var(--secondary-color) 2px 2px 15px 2px inset;
}

/* Media Queries */

@media (min-width: 400px) {
}

@media (min-width: 700px) {
  .listMenu {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
  }
  .connect input,
  .connect button,
  .connect a {
    width: 350px;
  }
}

@media (min-width: 1000px) {
  .connect input,
  .connect button,
  .connect a {
    width: 450px;
  }
}
