:root {
  --primary-color: rgba(32, 32, 32, 1);
  --secondary-color: rgba(112, 208, 56, 1);
  --tertiaire-color: rgba(255, 255, 255, 1);
  --lightgray-color: rgba(255, 255, 255, 0.2);
  --dark-color: rgba(16, 16, 16, 1);
  --black-color: rgba(0, 0, 0, 1);

  --main-font: "Quicksand", sans-serif;
  --default-font: Arial, Helvetica, sans-serif;
  --title-font: "Caveat", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: var(--tertiaire-color);
  font-family: var(--main-font);
}

body {
  background: var(--primary-color);
  color: var(--tertiaire-color);
  position: relative;
  font-family: var(--main-font);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 15px;
  margin-top: 35px;
}
footer img {
  width: 100px;
}
