:root {
  --primary-color: rgba(32, 32, 32, 1);
  --secondary-color: rgba(112, 208, 56, 1);
  --tertiaire-color: rgba(255, 255, 255, 1);
  --lightgray-color: rgba(255, 255, 255, 0.2);
  --dark-color: rgba(16, 16, 16, 1);
  --black-color: rgba(0, 0, 0, 1);

  --main-font: "Quicksand", sans-serif;
  --default-font: Arial, Helvetica, sans-serif;
  --title-font: "Caveat", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: var(--tertiaire-color);
  height: 100vh;
  position: relative;
  font-family: var(--main-font);
}
header img {
  width: 275px;
  margin-left: 50%;
  transform: translate(-50%);
}
footer {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 10px;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}
footer img {
  width: 100px;
}

/* Admin */
.dashboard section h2 {
  margin-top: 50px;
  text-align: center;
  color: var(--secondary-color);
}
.dashboard section div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  height: 350px;
}
.dashboard section div a {
  padding: 25px;
  color: var(--tertiaire-color);
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
}
/* ListUser */

.listUser {
  display: flex;
  flex-direction: column;
}
.listUser h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--tertiaire-color);
}
.listUser a {
  color: var(--tertiaire-color);
  text-decoration: none;
}

.listUser {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  overflow-x: auto; /* Activer le défilement horizontal sur les petits écrans */
}

.listMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-block: 25px;
}

.listMenu a:nth-child(1) {
  background-color: var(--tertiaire-color);
  color: var(--secondary-color);
  padding: 15px;
  width: 190px;
  text-align: center;
  font-weight: 700;
  text-shadow: 0px 0px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
}
.listMenu a {
  background-color: var(--secondary-color);
  color: var(--tertiaire-color);
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  width: 190px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.466) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.486) 0px -2px 6px 0px inset;
}

.listUser h2 {
  font-family: var(--title-font);
}

td {
  padding: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: grey; /* Couleur de la poignée de défilement */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Couleur de la piste de défilement */
}

body {
  scrollbar-face-color: #000000; /* Couleur de la barre de défilement */
  scrollbar-arrow-color: #000000; /* Couleur de la flèche de la barre de défilement */
  scrollbar-track-color: #000000; /* Couleur de la piste de la barre de défilement */
}
