:root {
  --primary-color: rgba(32, 32, 32, 1);
  --secondary-color: rgba(112, 208, 56, 1);
  --tertiaire-color: rgba(255, 255, 255, 1);
  --lightgray-color: rgba(255, 255, 255, 0.2);
  --dark-color: rgba(16, 16, 16, 1);
  --black-color: rgba(0, 0, 0, 1);

  --main-font: "Quicksand", sans-serif;
  --default-font: Arial, Helvetica, sans-serif;
  --title-font: "Caveat", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
