<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/zevent-favicon.ico" />
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/clips.css" />
    <title>Clips</title>
  </head>
  <body>
    <header id="header"></header>
    <main>
      <div class="container-sideBar">
        <div class="sideBar">
          <nav id="nav-sideBar" class="">
        <div id="icons1">
              <div class="btn_burger1">
                <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff"></i>
              </div>
              <div class="cross_burger1">
                <i class="fa-solid fa-xmark fa-2xl" style="color: #ffffff"></i>
              </div>
              <ul>
                <li><a href="">Faire un don </a></li>
                <li><a href=""></a>La boutique</li>
                <li><a href=""></a>Tops</li>
                <li><a href=""></a>Best of</li>
                <li><a href="">Tops par streamers</a></li>
                <li><a href="">Récents</a></li>
                <li><a href="">Jeux</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div id="select-day">
          <nav>
            <ul>
              <li><a href="">Tout le week-end</a></li>
              <li><a href="">Vendredi</a></li>
              <li><a href="">Samedi</a></li>
              <li><a href="">Dimanche</a></li>
            </ul>
          </nav>
        </div>
      </div>
  </body>
  <script src="./script/header.js"></script>
  <script src="./script/clips.js"></script>
  <script
    src="https://kit.fontawesome.com/a00d3e0d3e.js"
    crossorigin="anonymous"
  ></script>
</html>
