<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/zevent-favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <title>Document</title>
  </head>
  <body>
    <header id="header"></header>
    <section class="index-banner">
      <img src="/images/zevent-banner.webp" alt="Bannière du ZEvent" />

      <p>
        <strong>ZEvent</strong> est un projet caritatif créé par
        <strong>Adrien Nougaret</strong> et <strong>Alexandre Dachary</strong>.
      </p>

      <p>
        Divisé en deux parties, l'évènement se compose d'un showcase qui fait
        office d'amorce et est suivi par un marathon de streaming jeux vidéo
        lors duquel de nombreux animateurs spécialisés se rassemblent tout au
        long du weekend.
      </p>

      <p>
        Pendant <strong>plus de 50h</strong>, les participants diffusent du
        contenu en direct tous ensemble et encouragent les téléspectateurs à se
        mobiliser pour soutenir une <strong>association caritative</strong>.
      </p>
    </section>

    <script
      src="https://kit.fontawesome.com/a00d3e0d3e.js"
      crossorigin="anonymous"
    ></script>
    <script src="/script/header.js"></script>
  </body>
</html>
