<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/header.css" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/clips.css" />
    <title>Clips</title>
  </head>
  <body>
    <header id="header"></header>
  </body>
  <script src="/script/header.js"></script>
  <script src="/script/clips.js"></script>
  <script
    src="https://kit.fontawesome.com/a00d3e0d3e.js"
    crossorigin="anonymous"
  ></script>
</html>
