<footer>
  <div class="contact-footer">
    <p>Nous contacter</p>
    <p></p>
    <p></p>
  </div>
  <div class="footer-img">
    <img src="/images/zevent-logo.webp" alt="logo z event" />
  </div>
  <div>
    <p>Nos réseaux</p>
    <p>Facebook</p>
  </div>
</footer>

<% if(!isConnected) { %>
<!-- Si l'utilisateur est connecté il peut accéder aux pages Admin et Déconnexion -->
<% } else { %>
<li><a href="/admin">Admin</a></li>
<li><a href="/logout">Déconnexion</a></li>
<% } %>
