<header>
  <nav>
    <div class="navGrid">
      <div class="logo">
        <a href="/"><img src="/images/zevent-logo.webp" alt="Logo" /></a>
      </div>
      <nav class="menu" id="menu">
        <ul>
          <% if(!isConnected) { %>
          <!-- Si l'utilisateur est connecté il peut accéder aux pages Admin et Déconnexion -->
          <% } else { %>
          <li><a href="/admin">Admin</a></li>
          <li><a href="/logout">Déconnexion</a></li>
          <% } %>
        </ul>
      </nav>
    </div>
  </nav>
</header>
