<div id="logoutModal" class="logout-modal">
  <div class="modal-content">
    <p>Etes-vous sûr de vouloir vous déconnecter?</p>
    <form action="/logout/disconnect" method="POST">
      <a href="#" onclick="closeLogoutModal()">Annuler</a>
      <button type="submit">Confirmer</button>
    </form>
  </div>
</div>
